{% extends "base.html" %}
{% block content %}
    <div class="about_parag">
        <h2 id="aboutus">About Us</h2>
        <p class="about2">Finderpage is a platform that intends to connect lost individuals with their loved ones.
            The lost individual maybe our families, friends or others. There are many scenarios where individuals get separated from their loved ones.
            like becauseof mental problem or after school, after graduation or because of searching for job opportunities and so on.
            We understand the emotional and practical challenges faced by both lost individuals and we intend to
            provide a safe and efficient way for individuals to connect with their loved ones, no matter where they are.
            Join us to bring families and friends back together. Visit Finderpage and start your search today.
        </p>
    </div>
{% endblock content %}