<!DOCTYPE html>
<html lang="en">  
<head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
     <link rel="icon" type="image/x-icon" href="image/finder.PNG">

     <link rel="icon" type="image/png" href="static/image/finder.PNG">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
     
    {% if title %}
        <title>Finder.com - {{ title }}</title>
    {% else %}
        <title>Finder.com</title>
    {% endif %}

</head>
<body>
    <header>
        <div class="header1">
            <nav class="navbar">
                <ul class="nav-menu">
                    <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="{{ url_for('about') }}" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Contact us</a></li>
                    <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link">Login</a></li>
                    <li class="nav-item"><a href="{{ url_for('sign_up') }}" class="nav-link">Sign up</a></li> 
                </ul>
                <div class="header_form1">
                        <form action="">
                            <input type="search" placeholder="Search your Beloved here">
                            <i class="fa fa-search"></i>
                        </form>
                    </div>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </div>
    </header>
    <script src="{{url_for('static', filename='hamburger.js') }}"></script>
    {% block content %}{% endblock %}
    <footer>
        <div class="foot">
          <h3>alx Best</h3>  
        </div>
    </footer>
</body>
</html>