{% extends "base.html" %}
{% block content %}
    <div class="contact">
        <article class="arc">
           <h3> My name is siti abdulaziz</h3>
        <h3>You can Contact and follow me on:-</h3>
        <h3><a href="https://www.linkedin.com/in/siti-abdulaziz-27928025a">Linkedin</a></h3>
        <h3><a href="https://twitter.com/sitiabdulaziz1">Twitter</a></h3>
        <h3><a href="https://github.com/sitiabdulaziz11">Github</a></h3>
        <h3><a href="#">sitiabdulaziz462@gmail.com</a></h3>
        </article>
    </div>
{% endblock content %}