body {
    background: linear-gradient(to right, rgb(32, 122, 196), rgb(7, 243, 7));
    color:rgb(192, 197, 197);
    padding: 0;
    margin: 0;
}

.header {
    /*background: rgb(0,44,69);*/
    background-color:  rgb(3, 92, 128);
    /*background-color: rgb(3, 3, 22); 
    /*background-color: rgb(96, 131, 1);*/
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}