
body {
    background-color: rgb(215, 214, 219);
}

.header {
    /*background: rgb(0,44,69);*/
    background-color:  rgb(3, 92, 128);
    /*background-color: rgb(3, 3, 22); 
    /*background-color: rgb(96, 131, 1);*/
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.right_para {
    margin: 120px;
    margin: -20px;
    padding: 50px;
    margin-top: 30px;
    color: rgb(19, 19, 19);
    font-size: 30px;
    font-weight: bold;
    display: flex;
}  

.body_form form{
    width: 250px;
    height: 40px;
    margin: -50px;
    margin-top: -110px;
    justify-content:flex-start;
    align-items: center;
    padding: 50px;
   
}

.body_form input {
    width: 100%;;
    height: 40px;
    padding: 0px;
    margin: 20px;
    padding-left: 20px;
}

.header_form form{
    position: relative;
    top: 20px;
    left: 20px;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 45px;
    height: 45px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 22.5px;
    border: 4px solid rgb(231, 16, 16) ;
    padding: 5px;
}


.header_form input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 20px;
}

.header_form .fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #8c52ff;
    text-align: center;
    font-size: 1.2em;
    transition: all 0s;
}

.header_form form:hover{
    width: 250px;
    cursor: pointer;
}

.header_form form:hover input {
    display: block;
}

.header_form form:hover .fa{
    background: #8c52ff;
    color: white;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    /*background-color: #f0f0f0;*/
}

.navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.navbar ul li {
    margin-left: 22px;
    margin-right: 25px;
    display: flex;
    
}

.navbar ul li a {
    text-decoration: none;
    color: rgba(215, 226, 213, 0.952);
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}

.navbar ul li a:hover {
    color: #e25413;
}